<!--<p>weather works!</p>-->
<mat-card class="card">
<!--going to have title then split panel with side nav and main stuff-->
  <mat-card-title class="title">Weather App</mat-card-title>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>
</mat-card>
<div class="page">
  <div class="page-header"></div>
  <div class="page-body">
<!--    cities-->
  </div>
</div>

